---
---
{% include head.html %}
<body style="padding-top: 57px">
  {% include nav.html %}
  <div class="projects wrap">
    <div class="container">
      {% for project in site.works %}
      <div class="project">
        <div class="info">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          <a class="link" href="{{ project.permalink }}">Read More</a>
        </div>
        <div class="thumbnail">
          <a href="{{ project.permalink }}"><img src="{{ project.thumbnail }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="cta wrap">
    <div class="container">
      <h3>Schedule a phone call?</h3>
      <h4>tailoredbytony@gmail.com</h4>
    </div>
  </div>
  {% include footer.html %}
</body>
