---
---

// COLORS
$black: #000
$gold: #ffcc00
$white: #fff
$lightBlack: #555

*
  margin: 0px
  padding: 0px
  box-sizing: content-box

.container
  max-width: 960px
  padding: 0px 10px
  margin: 50px auto

h1
  font-family: "Europa", sans-serif
  font-size: 48px
  font-weight: 700
  color: $black
  margin: 0px 0px 20px 0px

h2
  font-family: "Europa", sans-serif
  font-size: 36px
  font-weight: 700
  color: $black
  margin: 12px 0px

p
  font-family: "Europa", sans-serif
  font-size: 18px
  font-weight: 400
  color: $lightBlack
  margin: 0px 0px 20px 0px
  &.tag
    display: inline
    color: $gold
    border: 1px $gold solid
    border-radius: 5px
    padding: 5px

a
  font-family: "Europa", sans-serif
  font-size: 18px
  font-weight: 300
  color: $lightBlack
  margin: 0px 20px 0px 0px
  text-decoration: none
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  &.active
    font-weight: 400
    color: $black
  &.btn
    background-color: $gold
    color: $black
    font-weight: 700
    padding: 12px 18px
    position: relative
    bottom: 12px
    &:hover
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.project
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 20px
  margin: 0px 0px 60px 0px
  box-sizing: border-box
  .description
    display: flex
    flex-direction: column
    justify-content: space-between
  .thumbnail img
    width: 100%
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

.case
  img
    height: 400px
    display: block
    margin: 0px auto
  h2
    margin-top: 50px
  p
    line-height: 30px
  ul
    margin-left: 20px
    li
      font-family: "Europa", sans-serif
      font-size: 18px
      font-weight: 400
      color: $lightBlack
      margin: 0px 0px 10px 0px


@media screen and (max-width: 980px)
  .container
    max-width: 620px
    padding: 0px 10px
    margin: 50px auto

@media screen and (max-width: 640px)
  .container
    max-width: 300px
    padding: 0px 10px
    margin: 50px auto
