{% include head.md %}
<body>
  {% include nav.md %}
  <div class="about wrap">
    <div class="container">
      <div>
        <img src="/assets/headshot.jpg" />
      </div>
      <div>
        <h2>
          Hey there.
          Did you catch my pun on the front page?
        </h2>
        <p>
          Well to sum myself up, I am a recent college graduate who studied the ways technology interacts with people's daily lives.
        </p>
      </div>
    </div>
  </div>
  {% include footer.md %}
</body>
