{% include head.md %}
<body>
  {% include nav.md %}
  <div class="header wrap">
    <div class="container">
      <div>
        <h1>Hello world.</h1>
        <h3>I tailor digital spaces for people. Spaces they call them their home(page).</h3>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="projects wrap">
    <div class="container">
      <div class="projects-grid">
        {% for project in site.works %}
          <a class="project" href="{{ project.permalink }}">
            <div class="project-card">
              <div class="thumbnail" style="background-image: url({{ project.thumbnail }})"></div>
              <span class="project-flex">
                <span>
                  <h2>{{ project.title }}</h2>
                  <p>{{ project.description }}</p>
                </span>
                <span class="tags">
                  {% for tag in project.tags %}
                  <p>{{ tag }}</p>
                  {% endfor %}
                </span>
              </span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="cta wrap">
    <div class="container">
      <h3>Schedule a phone call?</h3>
      <h4>tailoredbytony@gmail.com</h4>
    </div>
  </div>
  {% include footer.md %}
</body>
